@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
   --sky-300: #90cdf4;
   --pink-300: #f687b3;
   --green-300: #68d391;
   --yellow-300: #f6e05e;
   --red-300: #fc8181;
   --purple-300: #9f7aea;
   --blue-300: #63b3ed;
   --indigo-300: #a0aec0;
   --violet-300: #c084fc;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}
.experience-section {
   padding: 7rem 0 0 7rem;
   display: flex;
   justify-content: space-evenly;
}
